<h1>Editing vuln</h1>

<%= render "form", vuln: @vuln %>

<br>

<div class="btn-group  gap-2 col-12 mx-auto">
  <%= link_to "Show this vuln", @vuln, class:'btn btn-outline-primary'%> 
  <%= link_to "Back to vulns", vulns_path, class:'btn btn-outline-secondary'%>
  
</div>
