<h1>Enter Details For your Vulnerability</h1>

<%= render "form", vuln: @vuln %>

<br>

<div class="d-grid gap-2">
  <%= link_to "Back to vulns", vulns_path, class:"btn btn-outline-secondary"%>
</div>
